.navBar{
  font-size: medium;
  font-weight: 500;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navBar .nav1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar .nav2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar a{
  border-radius: 12px;
  padding:0.5vw 1vw;
  text-decoration: none;
  color:black;
}
.navBar a:hover {
  background-color: whitesmoke;
}
.speedDial {
  position: fixed;
  right: 4vmax;
  top: 5vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
@media screen and (max-width:600px){
  .navBar{
    font-weight: 500;
    display:flex;
    flex-direction: column;
  }
  .navBar .nav1{
    font-size:9px;
    display: flex;
    width:240px;
    justify-content: space-between;
  }
  .navBar .nav2{
    display: flex;
    width:240px;
    align-items: center;
    justify-content:flex-start;
  }
  .navBar .nav1 .home, .contact{
    font-size:9px;
  }
  .navBar .nav1 h2{
    font-size:10px;
  }
  .navBar .nav2 .products, .search, .cart, .login{
    font-size:9px;
  }
  .speedDial {
    position: fixed;
    right: 1vmax;
    top: 5vmax;
    height:32px;
    width:32px;
  }
  
  .speedDialIcon {
    width: 31px;
    height: 31px;
    border-radius: 100%;
  }
  #logoImage img{
    height:40px;
  }
}