.navBar{
  font-size: medium;
  font-weight: 500;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navBar .nav1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar .nav2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar a{
  border-radius: 12px;
  padding:0.5vw 1vw;
  text-decoration: none;
  color:black;
}
.navBar a:hover {
  background-color: whitesmoke;
}
.speedDial {
  position: fixed;
  right: 4vmax;
  top: 5vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
@media screen and (max-width:600px){
  .navBar{
    font-size:100;
    font-weight: 500;
    display:flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .navBar .nav1{
    display: flex;
    width:240px;
    justify-content:space-between;
  }
  .navBar .nav2{
    display: flex;
    width:240px;
    align-items: center;
    justify-content:flex-start;
    margin-left:100px;
  }
  .navBar .nav2 .search, .cart, .login{
    margin-left:10px;
    margin-right: 10px;
  }
#logoImage img{
  height:40px;
}
}